.text {
  color: #007bff;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.inputadd {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}
.inputadd input {
  width: 300px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 3px solid #060606;
  border-radius: 4px;
}

.inputadd button {
  height: 40px;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.inputadd button:hover {
  background-color: #0056b3;
}
.addedtodo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 18%;
}
li {
  margin-top: 20px;
}
.todo-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.todo-text {
  margin-right: 20px;
}
.button-group {
  display: flex;
  gap: 8px;
}
.todo-input,
.btn {
  margin: 2px;
  padding: 6px 12px;
}
